@import "tailwindcss";

body {
  margin: 0;
  font-family: "Noto Sans Kannada", "Nirmala UI", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #f8fafc; /* light slate background */
}
